# Allow all site files, then exclude
** -linguist-documentation
** -linguist-generated
** linguist-detectable

# Exclude .yml files
*.yml linguist-vendored

# Exclude .txt files
*.txt linguist-vendored

# Exclude the License
LICENSE linguist-vendored

#Exclude the compiled site
/_site** linguist-vendored