.card-background {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.card {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; 
  border-radius: 10px;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card .card-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgba(68, 68, 68, 0.16);
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
}

.card .card-header .card-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold; 
  font-family: Arial, Helvetica, sans-serif;
}

.card .card-header .card-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.card .card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.card .card-content .card-slideshow {
  width: 85%;
  height: 70%;
  flex-shrink: 0;
  margin: 2% 0%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.card .card-content .card-description {
  max-width: 70%;
  font-size: 18px;
}

.card .card-content .card-media {
  width: 85%;
  box-sizing: border-box;
}

.card .card-content .card-media .header{
  width: 100%;
  margin: 2% 0%;
  padding: 15px;
  font-size: 20px;
  box-sizing: border-box;
  color: rgb(0, 64, 188);
}

.card .card-content .card-media .iframe-box{
  display: flex;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
}

.card .card-content .card-media .iframe-box iframe {
  width: 50vw;
  height: 28vw;
  border-radius: 8px;
}

.card .card-footer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 68, 68, 0.16);
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.card .info-button {
  background-color: rgb(0, 150, 255);
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.card .info-button:hover {
  background-color: rgb(0, 120, 240);
}