.homepage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.homepage .profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 40%;
}

.homepage h1 {
    text-align: center;
}

.homepage p {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.homepage .link-list {
    padding: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}

.homepage .link-list .link {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto; 
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.homepage .link-list .link img {
    float: left;
    width: 20px;
    height: 20px;
    padding: 0px 10px 0px 10px;
    object-fit: contain;
    border-radius: 50%;
}

.homepage .link-list .link span {
    float: right;
    font-size: 100%;
    padding: 0px 10px 0px 10px;
}
